<template>
	<div>
		<div>{{prefix}} {{input}}<span class="blink">{{cursor}}</span></div>
		<input ref="input" class="hidden" type="text" v-model="input" autofocus @focusout="focusout" @keyup.enter="submit">
	</div>
</template>
<script>
    export default {
        props: ['prefix'],
        data(){
            return {
                input: '',
	            cursor: '█',
            }
        },
        methods: {
            focusout() {
				this.$refs['input'].focus();
            },
	        submit(){
                this.$emit('addLine', this.input);
                this.input='';
	        },
        }
    }
</script>