<template>
	<div>
		<ul class="commandlist">
			<li v-for="command in commands" v-html="command"></li>
			<activecommand :prefix="prefix" @addLine="addLine"></activecommand>
		</ul>

	</div>
</template>
<script>
    export default {
        data(){
            return {
                prefix: 'kaspar.suursalu@blog:~$',
	            commands: []
            }
        },
	    methods: {
            addLine(input) {
				this.commands.push(this.prefix + ' ' + input);
                axios.post('/command', {
                    command: input
                }).then((res) => {
                    this.commands.push(res.data);
                });
		    }
	    }

    }
</script>