@font-face {
  font-family: 'perfect_dos_vga_437regular';
  src: url("/fonts/perfect_dos_vga_437-webfont.woff2") format("woff2"), url("/fonts/perfect_dos_vga_437-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  background: black;
  color: green;
  font-family: 'perfect_dos_vga_437regular';
  font-size: 30px;
}

pre {
  font-family: 'perfect_dos_vga_437regular';
  font-size: 30px;
  margin: 0;
}

.container {
  margin-right: 10%;
  margin-bottom: 50px;
}

.commandlist {
  list-style: none;
}

.hidden {
  opacity: 0;
  filter: alpha(opacity=0);
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

