@font-face {
	font-family: 'perfect_dos_vga_437regular';
	src: url('/fonts/perfect_dos_vga_437-webfont.woff2') format('woff2'),
	url('/fonts/perfect_dos_vga_437-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}