
// Variables
@import "variables";

@import "font";

html {
  background: black;
  color:green;
  font-family: 'perfect_dos_vga_437regular';
  font-size: 30px;
}
pre {
  font-family: 'perfect_dos_vga_437regular';
  font-size: 30px;
  margin: 0;
}
.container {
  //margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}
.commandlist {
  list-style: none;
}
.hidden {
  opacity:0;
  filter:alpha(opacity=0);
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}